Logs
- [2024/05/06]   
  This notebook will read `insurance-marketing-dataset.csv`.   
  This dataset can be found from the following paper    
  (Spedicato and Savino, 2022) - Recommender Systems for Insurance Marketing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./datasets/insurance-marketing-dataset.csv", delimiter=";")
df

,Unnamed: 0,UNIQUE_ID,DEMO_CAT_02,DEMO_CAT_09,DEMO_CAT_10,DEMO_CAT_03,DEMO_CAT_04,HAS_A_1,HAS_B_1,HAS_C_1,...,DEMO_NUM_10,DEMO_NUM_11,DEMO_NUM_12,DEMO_CAT_13,DEMO_NUM_13,DEMO_NUM_14,DEMO_CAT_14,DEMO_CAT_15,DEMO_CAT_01,SET
0,306898,306898,0,d_0,0,a_12,b_3,1.0,0.0,0.0,...,536.336842,0.004264,1050.0,g_1,501.0,948.0,h_0,i_0,0,valid
1,926731,926731,0,d_3,0,a_97,b_0,1.0,0.0,0.0,...,534.264706,0.012766,435.0,g_0,499.0,956.0,h_1,i_25,1,train
2,186955,186955,0,d_5,0,a_4,b_2,0.0,0.0,0.0,...,510.417582,0.022887,2000.0,g_1,500.0,941.0,h_1,i_4,1,test
3,378709,378709,0,d_0,0,a_1,b_0,1.0,0.0,0.0,...,526.846154,0.025974,1950.0,g_3,499.0,936.0,h_5,i_27,1,train
4,870085,870085,0,d_9,0,a_8,b_2,1.0,0.0,0.0,...,547.000000,0.000000,1500.0,g_1,503.0,943.0,h_2,i_20,1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,430964,430964,0,d_4,0,a_55,b_2,1.0,0.0,0.0,...,526.842105,0.000000,850.0,g_1,501.0,952.0,h_2,i_5,0,test
9996,998442,998442,0,d_1,0,a_31,b_1,1.0,0.0,0.0,...,502.160714,0.043608,650.0,g_2,490.0,954.0,h_3,i_15,0,valid
9997,824188,824188,0,d_0,0,a_18,b_3,1.0,0.0,0.0,...,499.942308,0.033764,950.0,g_1,495.0,954.0,h_4,i_3,0,train
9998,648636,648636,0,d_5,0,a_21,b_4,1.0,0.0,0.0,...,498.295775,0.042311,1150.0,g_2,480.0,952.0,h_7,i_8,0,train
9999,871228,871228,0,d_3,1,a_14,b_1,1.0,1.0,0.0,...,525.444444,0.000000,1600.0,g_1,504.0,949.0,h_2,i_28,1,train

In [19]:
all_columns = list(df.columns)
print(all_columns)

['Unnamed: 0', 'UNIQUE_ID', 'DEMO_CAT_02', 'DEMO_CAT_09', 'DEMO_CAT_10', 'DEMO_CAT_03', 'DEMO_CAT_04', 'HAS_A_1', 'HAS_B_1', 'HAS_C_1', 'HAS_D_1', 'HAS_E_1', 'HAS_F_1', 'HAS_G_1', 'HAS_H_1', 'HAS_I_1', 'HAS_L_1', 'DEMO_CAT_05', 'DEMO_CAT_06', 'DEMO_NUM_01', 'DEMO_NUM_02', 'DEMO_CAT_07', 'DEMO_NUM_03', 'DEMO_NUM_04', 'DEMO_CAT_08', 'DEMO_CAT_11', 'HAS_A_2', 'HAS_B_2', 'HAS_C_2', 'HAS_D_2', 'HAS_E_2', 'HAS_F_2', 'HAS_G_2', 'HAS_H_2', 'HAS_I_2', 'HAS_L_2', 'BUYED_A', 'BUYED_B', 'BUYED_C', 'BUYED_D', 'BUYED_E', 'BUYED_F', 'BUYED_G', 'BUYED_H', 'BUYED_I', 'BUYED_L', 'BUYED', 'BUYED_NOT_A', 'DEMO_NUM_05', 'DEMO_CAT_12', 'DEMO_NUM_06', 'DEMO_NUM_07', 'DEMO_NUM_08', 'DEMO_NUM_09', 'DEMO_NUM_10', 'DEMO_NUM_11', 'DEMO_NUM_12', 'DEMO_CAT_13', 'DEMO_NUM_13', 'DEMO_NUM_14', 'DEMO_CAT_14', 'DEMO_CAT_15', 'DEMO_CAT_01', 'SET']

- Active holding of coverage for nine different categories of products:     
  (first year / time zero) `HAS_A_1`, `HAS_B_1`, `HAS_C_1`, ..., `HAS_I_1`     
  (second year / time one) `HAS_A_2`, `HAS_B_2`, `HAS_C_2`, ..., `HAS_I_2`
- Fifteen categorical and 14 numerical features representing the policyholder's    
  demographic profile measured in the first year only    
  `DEMO_CAT_01`, `DEMO_CAT_02`, ...., `DEMO_CAT_14`, `DEMO_CAT_15`    
  `DEMO_NUM_01`, `DEMO_NUM_02`, ...., `DEMO_NUM_14`   
- The policyholder unique ID    
  `UNIQUE_ID`
- The condition that is indicating whether the policyholder acquired the product   
  between the first year and second year. For example    
  `BUYED_E` = (`HAS_E_1 == 0` OR `HAS_E_2 == 1`)

In [8]:
df["HAS_A_1"]

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
9995    1.0
9996    1.0
9997    1.0
9998    1.0
9999    1.0
Name: HAS_A_1, Length: 10000, dtype: float64

In [15]:
sorted([elem for elem in all_columns if "DEMO_CAT" in elem])

['DEMO_CAT_01',
 'DEMO_CAT_02',
 'DEMO_CAT_03',
 'DEMO_CAT_04',
 'DEMO_CAT_05',
 'DEMO_CAT_06',
 'DEMO_CAT_07',
 'DEMO_CAT_08',
 'DEMO_CAT_09',
 'DEMO_CAT_10',
 'DEMO_CAT_11',
 'DEMO_CAT_12',
 'DEMO_CAT_13',
 'DEMO_CAT_14',
 'DEMO_CAT_15']

In [18]:
[elem for elem in all_columns if "DEMO_NUM" in elem]

['DEMO_NUM_01',
 'DEMO_NUM_02',
 'DEMO_NUM_03',
 'DEMO_NUM_04',
 'DEMO_NUM_05',
 'DEMO_NUM_06',
 'DEMO_NUM_07',
 'DEMO_NUM_08',
 'DEMO_NUM_09',
 'DEMO_NUM_10',
 'DEMO_NUM_11',
 'DEMO_NUM_12',
 'DEMO_NUM_13',
 'DEMO_NUM_14']

In [24]:
df[["UNIQUE_ID", "HAS_A_1", "HAS_I_1", "HAS_A_2", "HAS_I_2", 
    "DEMO_CAT_01", "DEMO_CAT_15", "DEMO_NUM_01", "DEMO_NUM_14",
    "BUYED_A", "BUYED_I"]]

,UNIQUE_ID,HAS_A_1,HAS_I_1,HAS_A_2,HAS_I_2,DEMO_CAT_01,DEMO_CAT_15,DEMO_NUM_01,DEMO_NUM_14,BUYED_A,BUYED_I
0,306898,1.0,0.0,1,0,0,i_0,63.224695,948.0,0,0
1,926731,1.0,0.0,1,0,1,i_25,80.860656,956.0,0,0
2,186955,0.0,0.0,0,0,1,i_4,41.410996,941.0,0,0
3,378709,1.0,0.0,1,0,1,i_27,68.103825,936.0,0,0
4,870085,1.0,0.0,0,0,1,i_20,31.520585,943.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,430964,1.0,0.0,0,0,0,i_5,44.781421,952.0,0,0
9996,998442,1.0,0.0,1,0,0,i_15,37.098668,954.0,0,0
9997,824188,1.0,0.0,1,0,0,i_3,55.761681,954.0,0,0
9998,648636,1.0,0.0,1,0,0,i_8,64.076503,952.0,0,0
9999,871228,1.0,0.0,1,0,1,i_28,80.778689,949.0,0,0